
@{
    ViewData["Title"] = "ImageSave";
}

<h1>ImageSave</h1>

<form method="post" asp-action="ImageSave" enctype="multipart/form-data">

<input type="file" name="imageFile"  />    

<button type="submit" class="btn btn-primary" >Resim Kaydet</button>
</form>

